html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

/* Progress tracker*/

div.bar-col {
	position: relative;
}

.progress-bar.foreground {
	stroke-dasharray: 200 200;
	stroke-dashoffset: 200;
}

/* .progress-bar.full {
	stroke-dashoffset: 0;
}

.progress-bar.one-quarter {
	stroke-dashoffset: 150;
}

.progress-bar.two-quarter {
	stroke-dashoffset: 100;
}

.progress-bar.three-quarter {
	stroke-dashoffset: 50;
} */

div.progress-info {
	position: absolute;
	top: 100%;
	bottom: 100%;
	background-color: aqua;
}

img.activity-icon {
	width: 45px;
}

.span.activity-number {
	font-size: 1.5rem;
}
