@model ProgressTrackerModel

  <div>
  <svg width="350" height="50">
  <line class="progress-bar background"
          stroke=@Model.Background
          stroke-width="25"
          fill="transparent"
          x1="0"
          y1="15"
          x2="200"
          y2="15" />
  <line class="progress-bar foreground"
          stroke=@Model.Foreground
          stroke-width="25"
          fill="transparent"
          x1="0"
          y1="15"
          x2="200"
          y2="15">
          <animate attributeName="stroke-dashoffset" from="200" to="@(200 *(1 - Model.PercentProgress))" dur=".75s" repeatcount="1" fill="freeze" />
  </svg>
</div>
<div class="progress-info">
  <img class="activity-icon" src=@Model.IconUrl />
  <span class="activity-number">@(String.Format("{0:n0}", Model.DisplayNumber))/@(String.Format("{0:n0}", Model.MinutesTarget))</span>
  <span class="activity-unit">@Model.Unit</span>
</div>

